* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* button style */
.btn {
  border: none;
  cursor: pointer;
}

/* Primary Button */
.btn--primary {
  background-color: #1d4ed8;
  color: #ffffff;
  border-radius: 10px;
}

.btn--primary:hover {
  background-color: #2563eb;
}

/* Secondary-Brand Button */
.btn--secondary-brand {
  background-color: #ffffff;
  color: #1d4ed8;
  border: 1px solid #2563eb;
  border-radius: 8px;
}

.btn--secondary-brand:hover {
  background-color: #1d4ed8;
  color: #ffffff;
}

/* Secondary-Neutral Button */
.btn--secondary-neutral {
  background-color: #ffffff;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
  border-radius: 8px;
}

.btn--secondary-neutral:hover {
  background-color: #0d1b2a;
  color: #ffffff;
}

/* Button Heights */

.btn--h42 {
  padding: 8px 16px;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.btn--h48 {
  padding: 12px 24px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn--h74 {
  padding: 24px 62.5px;
  height: 74px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #ffffff;
}

.nav-content {
  max-width: 1320px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}

.logo img {
  display: block;
  width: 150px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}

.nav-links a:hover {
  color: #121212;
  font-weight: 500;
}

/* Hero Section */
.hero-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 278px; */
  align-items: center;
  padding: 136px 80px;
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(213deg, rgba(0, 0, 0, 0) 42.9%, rgba(0, 0, 0, 0.88) 82.18%),
    url("./assets/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text-wrap h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 84px;
  color: #ffffff;
}

.hero-text-wrap p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;

  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

  max-width: 830px;
  margin-top: 24px;
}

.hero-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Meet Our Speakers */
.speakers-section {
  padding: 0px 55.5px;
}

.speakers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 60px;
}

.speaker-section-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #000102;
  text-align: center;
  margin-bottom: 56px;
}

.speaker-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
  margin-bottom: 20px;
}

.speaker-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 0px;
  text-align: left;
  overflow: hidden;
}

.speaker-card .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  gap: 8px;
}

.speaker-card img {
  width: 100%;
  height: 324px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.text-wrap .speaker-category {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #2563eb;
}

.text-wrap h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #0d1b2a;
}

.text-wrap p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #575757;
}

/* Pricing Card Section */

.pricing-section {
  padding: 0px 55.5px 50px 55.5px;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px 80px 60px;
}

.pricing-section-title {
  color: #0d1b2a;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.pricing-section-subtext {
  color: #575757;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}

.pricing-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 48px 80px 0px 80px;
}

/* Pricing Cards */
.pricing-card-secondary,
.pricing-card-primary {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  border-radius: 12px;
}

.pricing-card-secondary {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
}

.pricing-card-primary {
  border: 1px solid #0d1b2a;
  background: #0d1b2a;
}

/* Pricing Top  */
.pricing-top {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.pricing-card-secondary .pricing-top {
  border-bottom: 1px solid #e5e7eb;
}

.pricing-card-primary .pricing-top {
  border-bottom: 1px solid #ffffff1a;
}

.pricing-top .pricing-category {
  color: #888;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.325px;
  text-transform: uppercase;
}

.pricing-top .price {
  color: #0d1b2a;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  padding-top: 8px;
}

.pricing-top .price-unit {
  color: #888;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 4px;
}

/* Pricing Middle */
.pricing-features {
  margin: 0;
  padding-left: 16px;
  flex-grow: 1;
}

.pricing-features li {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 8px;
}

.pricing-features li:last-child {
  margin-bottom: 0;
}

.pricing-features li::marker {
  color: #2563eb;
}

/* Pricing Card Primary */
.pricing-card-primary .pricing-top .pricing-category {
  color: #93c5fd;
}

.pricing-card-primary .pricing-top .price {
  color: #ffffff;
}

.pricing-card-primary .pricing-top .price-unit {
  color: #ffffff;
  opacity: 0.5;
}

.pricing-card-primary .pricing-features li {
  color: #ffffffcc;
}

/* FAQ Section */
.faq-section {
  padding: 60px 20px 60px 20px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  max-width: 920px;
  margin: 0 auto;
}

.faq-section-title {
  color: #0d1b2a;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.faq-section-subtext {
  color: #575757;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 56px;
}

.faq-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* FAQ Card Open */
.faq-card-open {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: flex-start;

  padding: 20px 24px;

  border: 1px solid #e5e7eb;
  border-radius: 12px;

  background-color: #ffffff;
}

.faq-card-open-text-wrap {
  display: flex;
  flex-direction: column;

  gap: 12px;

  max-width: 760px;
}

.faq-question {
  color: #0d1b2a;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.faq-answer {
  color: #64748b;
  font-size: 14px;
  line-height: 22px;
}

.faq-card-open svg {
  width: 24px;
  height: 24px;
  color: #2563eb;
  margin-top: 4px;
}

/* FAQ Card Close */
.faq-card-closed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px 24px;
}

.faq-card-closed svg {
  width: 24px;
  height: 24px;
  color: #2563eb;
}

/* Footer Section */
.footer-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px;
}

/* Footer Left */
.footer-left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-subtext {
  max-width: 350px;
  font-size: 16px;
  line-height: 26px;
  color: #575757;
}

/* Footer Middle */
.footer-middle-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-links {
  display: flex;
  flex-direction: column;

  gap: 16px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links a {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 1fr;
  gap: 80px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e6e3e3;
}

/* Footer Right */

.footer-right-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-right-content p {
  font-size: 16px;
  color: #575757;
}

.input-wrap {
  display: flex;
  gap: 8px;
}

.input-wrap input {
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid #888;
  font-size: 16px;
}

/* Social Icon */
.social-links {
  display: flex;
  gap: 16px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}

.social-icon {
  width: 56px;
  height: 56px;
  background-color: #f1f3f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon:hover {
  background-color: #888;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
}

.footer-bottom p {
  color: #575757;
  font-size: 16px;
}
